body{
  background-color: gray;
}
.board{
  width: 900px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
}

.single-box{
  width: 30px;
  height: 30px;
}

.colorpalette{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.single-color-box{
  width: 50px;
  height: 50px;
  margin: 2px;
  transition: all;
  transition-duration: 0.3s;
  &:hover {
    scale: 1.2;
}
}

.chat{
  background-color: aqua;
  
}

.game-chat-container{
  display: flex;
  justify-content: space-around
}