$color-1: #FAF7F0;
$color-2: #CDFCF6;
$color-3: #BCCEF8;
$color-4: #98A8F8;
$color-5: #282d41;

body{
  background-color: #FAF7F0;
}
.board{
  min-width: 900px;
  width: 900px;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
}

.single-box{
  width: 30px;
  height: 30px;
}
.title-timer-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.colorpalette{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.game{
  margin: 50px;
  h1{
    color:$color-5 ;
  }
}

.single-color-box{
  width: 50px;
  height: 50px;
  margin: 2px;
  transition: all;
  transition-duration: 0.3s;
  &:hover {
    scale: 1.2;
}
}

.game-chat-container{
  display: flex;
  justify-content: space-around
}
.chat-container{
  margin-top: 100px;
  height: 100vh;
}



.input-color-container {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #D4D9E2;
  // border: solid 2px #ddd;
  // border-radius: 40px;
}
.input-color {
  appearance: none;
  background: transparent;
  border: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
  
}
.input-color::-webkit-color-swatch {
      border-radius: 50%;
      border: none;
  }